<a href="https://colab.research.google.com/github/tamilmetaverse/PythonBasics/blob/main/Lesson1_Print.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Basic print statements in Python**

Pillayar suzhi, perumaaluku salaam

In [ ]:
print("sriramajayam")

sriramajayam

Sep - parameter ,





1.   oru function ku neraya parameter anupalam. sep na seperator nu oru parameter. Adhu end la default ta irukum adhunala automatic ka two words ku naduvula oru space uruvagum.
2.    Naduvula edhadhu varanum, sep la assign pannanum. space venam na sep pa empty ya assign pannanum

In [ ]:
print("Hello","World",sep="-")#seperator

Hello-World

In [ ]:
print("Hello","World",sep="") #seperator

HelloWorld

\n na enter equivalent(next line) nu artham
\t na tab sapace nu artham

In [ ]:
print("Hello","World","Everyone",sep="\n") #seperator
print("Hello","World","program", "by Varun",sep="\t")#speperator

Hello
World
Everyone
Hello	World	program	by Varun

Concatenate pann + use pannalam. plus use panna space varadhu

In [ ]:
print("Hello " + "World "+ "idhu oru string concatenation function, plus pota ellame join aagidum") #concatenate using + symbol

Hello World idhu oru string concatenation function, plus pota ellame join aagidum

End use panna porom friends

In [ ]:
print("hello","world","tamilmetaverse yaaru", end=" ?")

hello world tamilmetaverse yaaru ?

Escapeeeeeeeee
pattern create panna use aagum friends

In [ ]:
print("Hello\tWorld\n pattern varaivom") #escape
print("#\n##\n###\n####")

Hello	World
 pattern varaivom
#
##
###
####

In [ ]:
print("Hello\bWorld") #backspace function - \b (adhuku munnadi iruka lettera delete paniruvaan ivan)

HelloWorld

In [ ]:
Raw vaana rowdy ivar - the raw string

C:\Users\tamil\OneDrive\Documents idha print panna statement la kudutha error adikum yenna \ appdindradhu escape sequence. so idhu mari aaguradha avoid panna raw string use pannnanum friends.

ipo paarungalen na idha adichu error katuren

SyntaxError: invalid syntax (<ipython-input-64-b4e14b49677c>, line 1)

In [ ]:
print("C:\Users\tamil\OneDrive\Documents") # raw string use pannala na error varum. idha or extra slash potu kooda seri pannalam but raw string use panna bestttu. enna error vandhuruku apdina enna nu keela soliruken paaruga

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (<ipython-input-63-e4a19d653b2a>, line 1)

These errors typically occur when a backslash (\) is used in a string and is not properly escaped or interpreted.

In [ ]:
print("C:\\Users\tamil\OneDrive\Documents") #raw string use panna, aana parunga error adikala, onnu note panningala - tamil la \t nu nenechutu space vandhuruchu. idhuku than raw string use pannanum

C:\Users	amil\OneDrive\Documents

In [ ]:
print(r"C:\Users\tamil\OneDrive\Documents") #raw string

C:\Users\tamil\OneDrive\Documents

Idhu enna datatype la irukum
number print panna adhu int aagiruma? kandupidipom vaanga

In [ ]:
print(10)
print("abc")
print("abc"+ 123) #vera vera data type

10
abc

TypeError: can only concatenate str (not "int") to str

idha solve panna type casting pannanum

In [ ]:
print("abc\n"+str("123")) #typecasting panna andha data type vera datatype pa aagiudum

abc
123

quotes varanume nu nenecha adhuku renud vazhi iruku

In [ ]:
print('I went to the "BEST" restaturant') #enclosing single or double quote potu paarunga . sappaya varum

I went to the "BEST" restaturant

Paragraph ku enna pannalamna triple quotes potrunga.

In [ ]:
print(""" Hi\n
idhu
oru
Triple quote""") #multiline string nu peru

 Hi

idhu
oru
Triple quote

Plus ku badhila into pota multiply kooda agumn

In [ ]:
print("\nHello World\n " * 20) #string multiplication

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Hello World

Format pannalama

In [ ]:
name = "abc"
print("My name is "+ name)

My name is abc

In [72]:
name = "abc"
age = "25"
print("Name: {}, Age: {}".format(name,age)) # format
print("Name:{1}, Age:{0}".format(name,age))# positioning pannalam 0, 1, 2 array madhiri

Name: abc, Age: 25
Name:25, Age:abc

In [84]:
print("\nHelloWorld."* 10, sep="%", end="..")

HelloWorld.
HelloWorld.
HelloWorld.
HelloWorld.
HelloWorld.
HelloWorld.
HelloWorld.
HelloWorld.
HelloWorld.
HelloWorld...

In [85]:
p, q, r = 10, 20, 30
print(p, q, r)

10 20 30

In [90]:
var = "Kaniyam" *2 * 3
print (var)

KaniyamKaniyamKaniyamKaniyamKaniyamKaniyam