<a href="https://colab.research.google.com/github/tamilmetaverse/PythonBasics/blob/main/Lesson%201%20-%20Tasks%20-%20Print_tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

How do you print the string “Hello, world!” to the screen?

In [1]:
print("Hello, world!")

Hello, world!

How do you print the value of a variable name which is set to “Syed Jafer” or Your name?

In [2]:
name = "Varun Kannan"
print(name)

Varun Kannan

How do you print the variables name, age, and city with labels “Name:”, “Age:”, and “City:”?

In [6]:
Name = "Tamil Metaverse"
Age = "42"
City = "Trivandrum"
print("Name:",Name)
print("Age: ",Age)
print("City: ", City)

Name: Tamil Metaverse
Age:  42
City:  Trivandrum

How do you use an f-string to print name, age, and city in the format “Name: …, Age: …, City: …”?

In [15]:
Name = "Tamil Metaverse"
Age = "42"
City = "Trivandrum"

print(f"Name:{name} Age:{Age} City:{City}")

Name:Varun Kannan Age:42 City:Trivandrum

How do you concatenate and print the strings greeting (“Hello”) and target (“world”) with a space between them?

In [27]:
print("Hello\t"+"World",) #used tab seperator - it gives big space
print("Hello "+ "World") #used space after hello, can do before world too
print("Hello"," ","World") #used space inside quotes
print("Hello" + " " + "World") #used space inside quotes with concatenation

Hello	World
Hello World
Hello   World
Hello World

How do you print three lines of text with the strings “Line1”, “Line2”, and “Line3” on separate lines?

In [41]:
print(" Line1\n","Line2\n", "Line3") #direct method

 Line1
 Line2
 Line3

How do you print the string C:\Users\Name without escaping the backslashes?

In [40]:
print(r"C:\Users\Name") #using raw string

C:\Users\Name

In [45]:
print(5+3) #direct will give you the total
total = 5+3
print(total) # assign panni panradhu

8
8